<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Management System</title>
    <link rel="stylesheet" href="../static/css_files/Bricks.css">
</head>
<body>
    <div class="container">
        <!-- First-container has both left and right sections inside it -->
        <div class="First-container">

            <!-- Left Section -->
            <div class="left-section">
                <img class="image" src="../static/Landing Page (1).jpeg" alt="Landing Page">
                <label id="welcome-text" class="welcome">
                    GET READY FOR THE <span class="hightlight">FEATURE</span>
                </label>
                <label id="subheading-text" class="collage-subheading">
                    Empowering minds, Enriching lives, Elevating communities
                </label>
                
            </div>

            <!-- Right Section -->
            <div class="right-section">
                <div class="login-container">
                    <img class="logo" src="../static/Logo.jpeg" alt="Logo">
                    <h1>Login to your account</h1>
                    
                    <form>
                        <label for="email">Register Number</label>
                        <input class = "register" type="text" id="Register" placeholder="Enter Register Number">

                        <label  for="password">Enter Your Password</label>
                        <div class="password-container">
                            <input class="password-input" type="password" id="password" placeholder="Enter your password">
                            <span class="toggle-password">👁️</span>
                        </div>

                        <div class="remember-me">
                            <input class="checkbox" type="checkbox" id="remember">
                            <label class="remember-me-text" for="remember">Remember Me</label>
                        </div>

                        <button id="submit-btn" type="button" class="login-button">Login</button>

                        <div class="links">
                            <a href="verfy">Forgot Password</a>
                        </div>
                    </form>

                    
                </div>
            </div>

        </div>

        
        
    </div>

    <script src="../static/js_files/Bricks.js"></script>


</body>
</html>
