<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="static/css_files/HomePage.css">
    
   
</head>
<body>
    <div class="container">
        <!-- Sidebar -->
        <aside class="sidebar">
            <div class="toggle">
                <i class="fas fa-bars menu-toggle"></i>
            </div>
            <div class="logo-container">
                <img src="../static/Logo.jpeg" alt="Company Logo" class="logo">
            </div>
            <ul class="sidebar-menu" style="overflow: visible;">
                <li data-url="/Dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</li>
                <li data-url="/Courses"><i class="fas fa-book"></i> My Courses</li>
                <li data-url="/Attendence"><i class="fas fa-check-circle"></i> Attendence</li>
                <li data-url="/Enrollment"><i class="fas fa-exclamation-triangle"></i> Enrollment</li>
                <li data-url="/Financial"><i class="fas fa-gift"></i> Financial</li>
                <li data-url="/Profile"><i class="fas fa-user"></i> Profile</li>
                <li class="sig-out"><i class="fas fa-sign-out-alt"></i> Logout</li>
            </ul>
        </aside>
        <div>
            <header class="main-header">
                <div class="header-left">
                    <img src="../static/saveetha.png" alt="Logo" class="header-logo">
                </div>
                <div class="header-right">
                    <span class="header-user">{{ user.name.upper() }}</span>
                    <i class="fas fa-bell"></i> 
                    <i class="fas fa-user-circle" onclick="loadPage('/Profile')"></i>
                    <i class="fas fa-sign-out-alt sig-out"></i>
                </div>
             </header>
        <div id ="total-container" class="total-content">
            
            
        
            </div>

        
        </div>
        
    <!-- Optional: Add JS file link if needed -->
    <script src="../static/js_files/HomePage.js"></script>

</body>

</html>